<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>brave resteasy spring integration test</display-name>
	
	<servlet>
	  <servlet-name>dispatcher</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  
	  <init-param>
		  <param-name>contextClass</param-name>
		  <param-value>
			  org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		  </param-value>
	  </init-param>	  
	  <init-param>
		  <param-name>contextConfigLocation</param-name>
		  <!--  By including package com.github.kristofa.brave this package and all sub packages will be scanned for Spring beans. This means that the Configuration classes
		        of brave-impl-spring will be detected, the RestEasy pre- and postprocessors will be detected as well as the Resteasy resources for our test. -->
		  <param-value>com.github.kristofa.brave.jaxrs2.BraveContainerResponseFilter
              com.github.kristofa.brave.jaxrs2.BraveContainerRequestFilter
              com.github.kristofa.brave.AnnotationSubmitterConfig
			  com.github.kristofa.brave.ClientRequestInterceptorConfig
			  com.github.kristofa.brave.ClientResponseInterceptorConfig
			  com.github.kristofa.brave.ClientTracerConfig
              com.github.kristofa.brave.EndpointSubmitterConfig
			  com.github.kristofa.brave.ServerRequestInterceptorConfig
			  com.github.kristofa.brave.ServerResponseInterceptorConfig
			  com.github.kristofa.brave.ServerSpanThreadBinderConfig
              com.github.kristofa.brave.ServerTracerConfig
              com.github.kristofa.brave.resteasy3.ResteasySpringConfig
              com.github.kristofa.brave.resteasy3.BraveRestEasyResourceImpl
              com.github.kristofa.brave.resteasy3.TraceFiltersConfiguration
              com.github.kristofa.brave.resteasy3.SpanCollectorConfiguration
              com.github.kristofa.brave.resteasy3.SpanNameProviderConfig
			  com.github.kristofa.brave.resteasy3.ServiceNameProviderConfig
			  com.github.kristofa.brave.resteasy3.BraveContextAware
          </param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>

	
	<servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>/brave-resteasy/*</url-pattern>
	</servlet-mapping>

	
</web-app>
