<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
      <pattern>%d [%X{traceId}/%X{spanId}] [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
  </appender>
  <root level="TRACE">
    <appender-ref ref="stdout" />
  </root>
</configuration>